body{
  margin: 0;
  background-color: azure;
  text-align: center;
  font-family: 'Merriweather',serif;
  font-size: 2em;
}
h1{
  font-size: 5.625rem;
margin: 50px auto 0 auto;
font-family: 'Sacramento', sans-serif;
color: #66BFBF;
}
h3{
  font-family: 'Montserrat',sans-serif;
  color: #11999E;
}
h2{
  font-family: 'Montserrat',sans-serif;
  color: #66BFBF;
  margin: 50px;
  weight: normal;
  font-size: 2.5rem;
}
p{
  line-height: 2;
}
li {
font-size: 75%;
font-family: 'Merriweather',serif;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  width: 10%;
  border-top: 10px dotted #11999E;
  margin: 70px auto 70px auto;
}
.bio {
text-align: justify;
font-size: 50%;
margin: 30px 20% 30px 20%;
}
.programLanguage {
  color: #11999E;
}
.game {
font-size: 50%;
text-align: justify;
margin: 5px 20% 5px 20%;
}
.green {
color: #11999E;
font-family: 'Montserrat', sans-serif;
}
.central{
text-align: center;
margin: 2px 20% 2px 20%;
}
.hobby {
font-size: 50%;
text-align: center;
}
.programmingLanguages {
text-align: left;
font-size: 75%;
margin: 2px auto 2px 50%;
}
.top-container{
    position: relative;
    padding-top: 100px;
}
.tableElement {
font-size: 50%;

}
.middle-container{
padding: 20px;
}
.bottom-container{
background-color: #66bfbf;
padding: 50px 0 20px;
}
.footer-link{
  color: #2a7886;
  margin: 10px 20px 0 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.copyright{
  font-size: 0.75rem;
  color:#EAF6F6;
}
.flaticon{
  font-size: 0.75rem;
  color:#EAF6F6;  
}
.intro{
  font-size: 1rem;
  width: 30%;
  margin: auto;
}
.contact-me-bio{
  font-size: 1rem;
  width:50%;
  margin:10px auto 10px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.secondcontainer{
  width: 200px;
  height: 200px;
  background-color: blue;
  border: solid 20px;margin-left: 260px;
}
.monitor{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.flexible{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.thirdContainer{
  width: 200px;
  height:200px;
  background-color: red;
  border: solid 10px;margin-left: 500px;
}
.programmer{
  text-decoration: underline;
}
.aprogrammer{
  font-weight: normal;
}
.flexibility-description{
  clear:left;
}
.programming-description{
  clear: right;

}
.Red{
  background-color: red;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  left: 400px;
}
.Black{
  background-color: black;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  right: 200px;
}
.Yellow{
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  right: 200px;
}
.Blue{
  background-color: blue;
  width: 200px;
  height: 200px;
  position: absolute;
  left:400px;
  top:400px;
}
.Purple{
  background-color: purple;
  width: 200px;
  height: 200px;
  position: fixed;
  left:200px;
  top: 200px;
}
.Green{
  background-color: green;
  width: 200px;
  height: 200px;
  position: absolute;
  top:0px;
}
.bottomCloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.topCloud{
position: absolute;
right: 300px;
top: 50px;
}

.mbn {
	background-color:#66BFBF;
	border-radius:28px;
	border:1px solid #66BFBF;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:22px;
	padding:16px 31px;
	text-decoration:none;
}
.mbn:hover {
	background-color:#476e9e;
}
.mbn:active {
	position:relative;
	top:1px;
}
